*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:  #171717;
    color: white;
}

.flex{
    display: flex;
    justify-content: space-between;
}
.search-list-container{
    display: flex ;
    justify-content: space-evenly;
    margin: auto;
    width: 80%;
    height: 100vh;
    border-radius: 5px;
    background-color: rgb(124, 109, 165);
}